# Data Science Tools and Ecosystem

In this notebook, I provide a summary of the tools and Ecosystems used in Data Science.

### **Objectives**
* List popular languages for Data Science
* Name libraries used for Data Science
* Perform simple arithmetic operations
* Learn how to use Jupyter Notebook for simple tasks

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [22]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [32]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Ashley Packard